<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<context:component-scan base-package="com.greppiluciano"></context:component-scan>
<context:property-placeholder location="classpath:valores.properties"/>


<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="${driver}" />
	<property name="url" value="${url}" />
	<property name="username" value="${usuario}" />
	<property name="password" value="" />
</bean>

<bean id="marca3" class="com.greppiluciano.beans.Marca">
	<property name="id" value="3"></property>
	<property name="nombre" value="Marca3"></property>
</bean>

<bean id="equipo1" class="com.greppiluciano.beans.Equipo">
	<property name="id" value="2"></property>
	<property name="nombre" value="Manchester United"></property>
</bean>

<bean id="camiseta1" class="com.greppiluciano.beans.Camiseta">
	<property name="id" value="1"></property>
	<property name="numero" value="7"></property>
	<property name="marca" ref="marca3"></property>
</bean>

<bean id="jugador1" class="com.greppiluciano.beans.Jugador">
	<property name="id" value="2"></property>
	<property name="nombre" value="Cristiano Ronaldo"></property>
	<property name="equipo" ref="equipo1"></property>
	<property name="camiseta" ref="camiseta1"></property>
</bean>


</beans>
